.context-menu {
  position: absolute;
  width: 180px;
  // border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  hr {
    margin: 5px 0;
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: #eee;
  }
  i {
    width: 20px;
  }
}

.context-menu-item {
  display: flex;
  position: relative;
  padding: 7px 10px;
  cursor: pointer;
  &:first-child {
    padding-top: 14px;
  }
  &:last-child {
    padding-bottom: 14px;
  }
  &.hover {
    cursor: auto;
    &:after {
      content: '\e805';
      display: inline-block;
      margin: 0 0 0 auto;
      font-family: 'fontello';
    }
  }

}

.context-submenu {
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  display: none;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
  }
}
.context-menu-item:hover .context-submenu,
.context-menu-item .context-submenu.is-hover {
  display: block;
} 