.card {
  position: relative;
  background-color: #eee; 
  padding: 20px;
  margin: 0 30px 30px 0;
  width: 300px;
  // margin: 0 20px 20px;
  line-height: 2;
  cursor: pointer;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  user-select: none;
}
.textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 120px;
  line-height: 2;
  padding: 0;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}
.inner {
  width: 100%;
  min-height: 120px;
  line-height: 2;
}

.label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  color: #7e7e7e;
}

.label-name {
  min-width: 80px;
}

.label-value {
  margin-left: 10px;
  min-width: 70px;
} 
